@import url(https://fonts.googleapis.com/css?family=Unica+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab);

// Colors
$topGradientColor: #ff8600;
$bottomGradientColor: #f6063b;
$navbarColor: #f8d5d5;
$infoHeaderColor: #a8fffb;
$infoParagraphColor: #ddfffb;
$backgroundColor: black;

// Fonts
$titleFontStack: 'Unica One', serif;
$infoHeaderFontStack: 'Raleway', sans-serif;
$infoParagraphFontStack: 'Roboto Slab', serif;

// Spacing
$infoSideOffset: 20px;
$infoHeaderBottomTopMargin: 30px;
$infoParagraphBottomTopMargin: 20px;

