@import url(https://fonts.googleapis.com/css?family=Unica+One&display=swap);

h2 {
  background: -webkit-linear-gradient(#ff8600,#f6063b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  font: 75px 'Unica One', serif;
}

// Constants
$FULL_SECONDS: 2;
$FADE_SECONDS: 1;
$OVERLAP_SECONDS: 1;
$NUMBER_HEADERS: 3;

// Calculations
$totalSeconds: ($FULL_SECONDS + 2*$FADE_SECONDS + $OVERLAP_SECONDS) * $NUMBER_HEADERS;
$fullPercent: ($FULL_SECONDS / $totalSeconds)*100;
$fadePercent: ($FADE_SECONDS / $totalSeconds)*100;
$overlapPercent: ($OVERLAP_SECONDS / $totalSeconds)*100;
$totalFadePercent: $fadePercent + $overlapPercent;
$halfFullPercent: $fullPercent / 2;
$totalPercent: $fullPercent + 2*$fadePercent + $overlapPercent;

@for $i from 1 through $NUMBER_HEADERS {

  h2:nth-child(#{$i}) {
    animation-name: fade#{$i};
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: #{$totalSeconds + "s"};
    animation-direction: alternate;
  }

}

@keyframes fade1 {
  0%, #{$halfFullPercent + "%"} {
    opacity: 1;
  }
  #{$halfFullPercent + $totalFadePercent + "%"},
  #{(100-$halfFullPercent - $totalFadePercent) + "%"} {
    opacity: 0;
  }
  #{(100 - $halfFullPercent) + "%"}, 100% {
    opacity: 1;
  }
}

@for $i from 2 through $NUMBER_HEADERS {

  $initial: $halfFullPercent + $fadePercent + ($i - 2)* $totalPercent;
  $startFull: $initial + $overlapPercent + $fadePercent;
  $endFull: $startFull + $fullPercent;
  $startNone: $endFull + $overlapPercent + $fadePercent;

  @keyframes fade#{$i} {
    0%, #{$initial + "%"} {
      opacity: 0;
    }
    #{$startFull + "%"}, #{$endFull + "%"} {
      opacity: 1;
    }
    #{$startNone + "%"}, 100% {
      opacity: 0;
    }
  }

}
