@import "variables";

h2 {
  color: $infoHeaderColor;
  font: $infoH2FontSize $infoHeaderFontStack;
  margin: $infoHeaderBottomTopMargin $infoSideOffset;
}

h3 {
  color: $infoHeaderColor;
  font: $infoH3FontSize $infoHeaderFontStack;
  margin: $infoHeaderBottomTopMargin $infoSideOffset;
}

p {
  color: $infoParagraphColor;
  margin: $infoSideOffset $infoParagraphBottomTopMargin;
  font: $infoParagraphFontSize $infoParagraphFontStack;
  text-indent: $infoTextIndent;
}


