@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab);

$side-offset: 20px;

h2 {
  color: #a8fffb;
  font: 35px 'Raleway', sans-serif;
  margin: 30px $side-offset;
}

p {
  color: #ddfffb;
  margin: 20px $side-offset;
  font: 17px 'Roboto Slab', serif;
  text-indent: 2em;
}


