@import url(https://fonts.googleapis.com/css?family=Unica+One&display=swap);

.navbar-custom {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  font-size: 1.4em;
}

.navbar-nav a {
  font-family: 'Unica One', serif;
}

.navbar-custom .nav-link {
  color: rgb(248, 213, 213);
}

.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ff8600;
    text-decoration: underline;
}

.navbar-custom .active {
  color: #f6063b;
}