@import "variables";

.navbar-custom {
  margin-top: 20px;
  background-color: $backgroundColor;
  color: $navbarColor;
  font-size: $navbarFontSize;
}

.navbar-nav a {
  font-family: $titleFontStack;
}

.navbar-custom .nav-link {
  color: $navbarColor;
}

.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: $topGradientColor;
    text-decoration: underline;
}

.navbar-custom .active {
  color: $bottomGradientColor;
}

.navbar-custom button {
  color: $bottomGradientColor;
  background-color: $backgroundColor;
  border: none;
}

.fa-bars {
  color: $bottomGradientColor;
  background-color: $backgroundColor;
}

.smallscreen {
  overflow: hidden;
  transition: height 0.35s ease-in-out;
}

.smallscreen.show {
  height: calc((#{$navbarFontSize} + #{$navbarItemPaddingHeight}) * #{$navbarNumberOfLinks});
}

.smallscreen.collapse {
  height: 0;
  display: block !important;
}


