@import "../variables";

.checkbox {
	position: relative;
	display: block;
}

.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 15px;
	line-height: 27px;
	color: $element-font-color;
	cursor: pointer;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 13px;
	height: 13px;
	outline: none;
	border-width: $input-border-width;
	border-style: solid;
  background: $element-background-color;
  border-color: $element-border-color;
}
.checkbox input + i:after {
	position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input + i:after {
	content: '\f00c';
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.inline-group {
	margin: 0 -30px -4px 0;
}
.inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.inline-group .checkbox:last-child {
	margin-bottom: 4px;
}

.checkbox:hover i {
	border-color: $hover-color;
}

.checkbox input:focus + i {
	border-color: $focus-color;
}

.checkbox input + i:after {
	color: $checkmark-color;
}

.checkbox input:checked + i {
	border-color: $checked-color;
}

.checkbox {
	font-weight: 400;
}

.checkbox + .checkbox {
  margin-top: 0;
}

