@import "variables";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.sky-form {
	margin: 40px auto;
	outline: none;
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	font: $text-font;
	color: $text-color;
}