@import "variables";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.input {
	position: relative;
  display: block;
  margin-right: 15px;
}

.input input {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: $input-box-height;
	padding: 6px 10px;
	outline: none;
	border-width: $input-border-width;
	border-style: solid;
	border-radius: 0;
	background: $element-background-color;
	font: $input-font;
	color: $element-font-color;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.input input {
  border-color: $element-border-color;
  transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}

.input:hover input {
	border-color: $hover-color;
}

.input input:focus {
	border-color: $focus-color;
}

