@import "variables";

.label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
	font-weight: 400;
}

.label {
	border-radius: 0;
	font-size: 100%;
	text-align: left;
	white-space: normal;
	color: inherit;
}