@import "variables";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.my-datetime-class {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: $input-box-height;
  padding: 8px 10px;
  outline: none;
  border-width: $input-border-width;
  border-style: solid;
  border-radius: 0;
  background: $element-background-color;
  font: $input-font;
  color: $element-font-color;
  border-color: $element-border-color;
  width: 100%;
}

.vdatetime {
  margin-right: $margin-gap;
}