@import "variables";

.radio {
	position: relative;
	display: block;
}

.radio {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 15px;
	line-height: 27px;
	color: $element-font-color;
	cursor: pointer;
}
.radio:last-child {
	margin-bottom: 0;
}
.radio input {
	position: absolute;
	left: -9999px;
}
.radio i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 13px;
	height: 13px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: $element-background-color;
}
.radio i {
	border-radius: 50%;
}
.radio input + i:after {
	position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.radio input:checked + i:after {
	opacity: 1;
}
.inline-group {
	margin: 0 -30px -4px 0;
}
.inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.inline-group .radio {
	float: left;
	margin-right: 30px;
}
.inline-group .radio:last-child {
	margin-bottom: 4px;
}

.radio i {
  border-color: $element-border-color;
  transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}

.radio:hover i {
	border-color: $hover-color;
}

.radio input:focus + i {
	border-color: $focus-color;
}

.radio input + i:after {
	background-color: $checked-color;	
}

.radio input:checked + i {
	border-color: $checkmark-color;
}

.radio {
	font-weight: 400;
}

.radio + .radio {
  margin-top: 0;
}